<mat-toolbar class="color-black mat-elevation-z8">
  <button (click)="drawer.toggle()" mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>
  <span>MENÚ</span>
  <span class="example-spacer"></span>

  <!--   
  <button routerLink="" mat-button>Home</button>
 -->
  <!--   <a mat-raised-button color="warn" (click)="cerrarIngreso()"
    >Cerrar Sesión</a> -->
  <!--   <button (click)="badgevisibility()" mat-icon-button>
    <mat-icon
      matBadgeColor="accent"
      matBadge="15"
      [matBadgeHidden]="badgevisible"
      matBadgeSize="small"
      >notifications</mat-icon
    > 
  </button>-->
</mat-toolbar>
<mat-drawer-container autosize>
  <mat-drawer #drawer opened="true" mode="side" position="start">
    <mat-nav-list>
      <mat-list-item routerLink="/principal">
        <button mat-button>
          <mat-icon>dashboard</mat-icon>Principal
        </button>
      </mat-list-item>

      <mat-list-item routerLink="/table">
        <button mat-button>
          <mat-icon>table</mat-icon> Modulo Usuario
        </button>
      </mat-list-item>

      <mat-list-item routerLink="/modulo_nivel">
        <button mat-button>
          <mat-icon>table</mat-icon> Modulo Nivel
        </button>
      </mat-list-item>

      <mat-list-item routerLink="/modulo_cargo">
        <button mat-button>
          <mat-icon>table</mat-icon> Modulo Cargo
        </button>
      </mat-list-item>

      <mat-list-item routerLink="/modulo_tipoevaluacion">
        <button mat-button>
          <mat-icon>table</mat-icon> Modulo Tipo Evaluacion
        </button>
      </mat-list-item>

      <mat-list-item routerLink="/modulo_competencia">
        <button mat-button>
          <mat-icon>table</mat-icon> Modulo Competencia
        </button>
      </mat-list-item>

      <mat-list-item routerLink="/modulo_comportamiento">
        <button mat-button>
          <mat-icon>table</mat-icon> Modulo Comportamiento
        </button>
      </mat-list-item>

      <mat-list-item routerLink="/facultad">
        <button mat-button>
          <mat-icon>table</mat-icon> Modulo de Facultad
        </button>
      </mat-list-item>

      <mat-list-item (click)="cerrarIngreso()">
        <button mat-button>
          <mat-icon>close</mat-icon> Cerrar Sesión
        </button>
      </mat-list-item>

    </mat-nav-list>




  </mat-drawer>
  <mat-drawer-content>
    <ng-content></ng-content>
    <div style="text-align: center; min-height: 600px">

    </div>
  </mat-drawer-content>
</mat-drawer-container>