<app-menubar-docente>
  
  <mat-card>
    <mat-card-header>
      <mat-card-title>AUTO EVALUACIÓN DOCENTE</mat-card-title>
    </mat-card-header>
    <br>
    <mat-card-content>
      
      <!-- <h2>Competencias básicas</h2> -->
      <div *ngIf="maxBancopregunta; else loading">
        <div *ngFor="let idComportamiento of getKeys(groupedQuestions); let iComp = index">
          <h1>{{ getNombreComportamiento(+idComportamiento) }}</h1>
          <!-- Preguntas correspondientes al comportamiento actual -->
          <div *ngFor="let pregunta of groupedQuestions[+idComportamiento]; let iPregunta = index">
            <h3>{{ iPregunta + 1 }}. {{ pregunta.pregunta }}</h3>
            <div class="radio-options">
              <label><input type="radio" name="{{ pregunta.id }}" value="siempre"> Siempre</label>
              <label><input type="radio" name="{{ pregunta.id }}" value="casi_siempre"> Casi siempre</label>
              <label><input type="radio" name="{{ pregunta.id }}" value="algunas_veces"> Algunas veces</label>
              <label><input type="radio" name="{{ pregunta.id }}" value="pocas_veces"> Pocas veces</label>
              <label><input type="radio" name="{{ pregunta.id }}" value="nunca"> Nunca</label>
            </div>
          </div>
        </div>
      </div>
      <ng-template #loading>
        <p class="loading-message">Cargando...</p>
      </ng-template>
    </mat-card-content>
    <br />
    <mat-card-footer>
      <!-- <mat-paginator
        [pageSizeOptions]="[5, 10, 20]"
        showFirstLastButtons
      ></mat-paginator> -->

       <div style="text-align: center; margin-top: 20px;">
        <button
          style="width: 120px;"
          (click)="agregarEncuesta()"
          mat-raised-button
          color="primary">
          Enviar
        </button>
      </div>

    </mat-card-footer>
  </mat-card>
</app-menubar-docente>
