body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

form {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.input-group {
    display: flex;
    align-items: center;
    width: 100%;
}

.mat-dialog-content {
    padding: 20px 0;
}

.mat-dialog-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

.mat-icon {
    font-size: 24px;
    margin-right: 10px;
    color: #3498db;
}

input,
textarea {
    flex: 1;
    padding: 12px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

textarea {
    min-height: 150px;
    resize: vertical;
    /* Permite que el textarea se pueda redimensionar verticalmente */
}

button {
    padding: 12px 24px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn-primary {
    background-color: #3498db;
    color: #fff;
}

.btn-secondary {
    background-color: #ccc;
    color: #333;
}

.btn-primary:hover,
.btn-secondary:hover {
    background-color: #555;
    color: #fff;
}

.invalid-feedback {
    color: red;
}

.dialog-title {
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px;
}

.icon {
    width: 24px;
    height: 24px;
}

select {
    width: 100%;
    padding: 12px;
    box-sizing: border-box;
    border: 1px solid #000007af;
    border-radius: 5px;
    font-size: 16px;
  }