<form [formGroup]="myform" (ngSubmit)="saveCargo()">
    <h1 class="dialog-title">{{inputdata.title}}</h1>
    
    <div class="mat-dialog-content">
      <div class="row">
        <div class="form-group input-group">
          <mat-icon class="icon">label_important</mat-icon>
          <input formControlName="nombre" placeholder="Nombre" matInput>
          <div *ngIf="submit && f['nombre'].errors" class="invalid-feedback">
            <div *ngIf="f['nombre'].errors['required']">El campo nombre es requerido</div>
            <span *ngIf="f['nombre'].errors['minlength']">
              El nombre debe tener más de 3 caracteres.
            </span>
          </div>
        </div>
      </div>
  
      <div class="row">
        <div class="form-group input-group">
          <mat-icon class="icon">label_important</mat-icon>
          <textarea formControlName="descripcion" placeholder="Descripción" matInput></textarea>
          <div *ngIf="submit && f['descripcion'].errors" class="invalid-feedback">
            <div *ngIf="f['descripcion'].errors['required']">La descripción es requerida.</div>
            <span *ngIf="f['descripcion'].errors['minlength']">
              El nombre debe tener más de 6 caracteres.
            </span>
          </div>
        </div>
      </div>

      <div class="row">
      <div class="form-group input-group">
        <mat-icon class="icon">label_important</mat-icon>
        <select formControlName="idnivel" required>
            <option value="" disabled selected>Nivel al que pertenece</option>
            <option [value]="nivel.id" *ngFor="let nivel of lista_niveles">{{ nivel.nombre }}</option>
           </select>
       <div *ngIf="submit && f['idnivel'].errors" class="invalid-feedback">
         <span *ngIf="f['idnivel'].errors['required']">El campo de nivel es requerido.</span>
       </div>
       </div>
       
    </div>

    </div>

    <div class="mat-dialog-actions button-container">
      <button mat-raised-button type="submit" color="primary" class="btn-primary">Guardar</button>
      <a (click)="closepopup()" mat-raised-button color="warn" class="btn-secondary">Cerrar</a>
    </div>
  </form>

